@{
    Layout = "";
}
<li><a href="@Url.RouteUrl("Nop.Plugin.Widgets.DbgStockist.Stockists")" title="@T("nop.plugin.widgets.dbgstockist.stockist.title")">@T("nop.plugin.widgets.dbgstockist.stockist.title")</a></li>

